.flex{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 300px;
    padding: 20px;
}

.input-ID{
    width: 10%;
}

.table{
    margin: 80px;
}

.flexbtn{
    display: flex;
    flex-direction: column;
    margin: 10px;
}